# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Wrangler (local D1 state, etc.)
.wrangler

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

tmp-data-*

config
data
results.json